#brand {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-emphasis: bold;
  color: aliceblue;
}

a {
  color: lightgreen;

}

.jumbatron {
  border-radius: 25%;
}