#brand {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-emphasis: bold;
  color: lightseagreen;
  font-size: 20px;
  
}

a {
  color: wheat;
  text-emphasis: bold;

}

.jumbatron {
 
  border-radius: 25%;
  border: 10px solid lightgreen;
 
}